* {
  margin: 0;
  padding 0;
}

body {
        font-family: 'Roboto', sans-serif;
        color: grey;
        background-color: #cccccc;
}


nav ul {
  list-style:none;
}

nav li {
  background-color: #6e87a2;
  text-align:center;
  width: 150px;
  padding: 3px 0 0 10px;
  border-bottom: 3px solid black;
  display:inline-block;
}

nav a {
  text-decoration: none;
  display: inline-block;
  width: 150px
}

nav a:hover {
  background-color:yellow;
}
h1,h2,h3,h4 {
        font-family: 'Potta One', cursive;
}

#first {
  margin: 20px 50px 100px 50px;
  border: 1px solid black;
  padding: 20px;
}


